@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.wrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	margin: auto 14%;
}

/* Nav
=======================================*/

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	width: 100%;
	max-width: 1280px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #4D98A3;
	z-index: 15;
}

.nav__title {
	font-size: 40px;
	color: #fff;
	font-family: 'Cherry Swash', cursive;
	font-weight: 400;
}

.nav__button {
	display: inline-flex;
	text-transform: uppercase;
	font-size: 18px;
	color: #DCE3E4;
	font-weight: 300;
}

.slash {
	display: inline-flex;
	width: 25px;
    height: 2px;    
	transform: rotate(-70deg);
	margin: 0 10px 5px 10px;
	background: #DCE3E4;
}

.nav__button:hover {
	text-transform: uppercase;
	font-size: 18px;
	color: #00D089;
}


/* Header
=======================================*/

.header__text {
	display: flex;  
	flex-direction: column;
	text-align: center;
	width: 100%;
	background: url(../font/sea.jpeg) no-repeat center center;
	padding-top: 17px;
}

.header__title {
	margin-top: 200px;
	font-size: 44px;
	text-transform: uppercase;
	color: #E4E4E4;
	font-weight: 700;
}

.header__link {
	width: 234px;
	height: 47px;
	margin-top: 46px;
	font-size: 30px;
	background: transparent;
	border-color: #fff;
	color: #E4E4E4;
	font-weight: 300;
}

.header__link:hover {
	width: 234px;
	height: 47px;
	margin-top: 46px;
	font-size: 30px;
	background: #00D089;
	opacity: .5;
	border-color: #fff;
	color: #333;
	font-weight: 300;
}

.circle {
	display: flex;
	justify-content: center;
	margin-top: 121px;
	margin-bottom: 40px;
}

.header__circle {
	width: 9px;
	height: 9px;
	background: #fff;
	border-radius: 50%;
	margin: auto 6px;
}

.header__circle:hover {
	width: 9px;
	height: 9px;
	background: #69728C;
	border-radius: 50%;
	margin: auto 6px;
}

/* Header Content
=======================================*/

.header__content {
	text-align: center;
	width: 100%;
	max-width: 1280px;
	background: #fff;
}

.header__container{
	margin: auto 14%;
}

.content__title {
	margin-top: 76px;
	font-size: 30px;
	color: #4C505D;
	font-weight: 300;
}

.content__text {
	margin-top: 39px;
	margin-bottom: 73px;
	font-size: 14px;
	color: #4C505D;
	font-weight: 300;
}

.header__icon {
	padding-bottom: 30px;
}

.icon__basket {
	width: 51px;
	height: 51px;
	margin: 0 6%;
}

.icon__planet {
	width: 51px;
	height: 51px;
	margin: 0 6%;
}

.icon__suitcase {
	width: 51px;
	height: 51px;
	margin: 0 6%;
}
/* Main  Testimonial
=======================================*/

.main__testimonial {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background: #00D089;
}

.testimonial__user {
	margin-top: 67px;
	margin-bottom: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user__icon {
	width: 135px;
	height: 135px;
	border-radius: 50%;
}

.photo {
	background: url(../icon/photo.jpeg) no-repeat center center;
}

.user__name {
	font-size: 26px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.name {
	font-size: 80px;
	color: #fff;
	opacity: .2;
}

.testimonial__text {
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: 300;
}
/* Main Contact
=======================================*/

.main__contact {
	display: flex;
	justify-content: center;
	padding-top: 51px;
	padding-bottom: 34px;
	width: 100%;
	background: url(../font/map.jpeg) no-repeat center center;
	z-index: 10;
}

.contact__form {
	text-align: center;
	background: #fff;
	border-radius: 50%;
	opacity: .8;
	width: 430px;
}

.contact__user {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__name {
	width: 64%;
	height: 32px;
	margin-top: 100px;
	margin-bottom: 14px;
}

.contact__email {
	width: 64%;
	height: 32px;
	margin-bottom: 14px;
}

.contact__message {
	margin-bottom: 32px;
	width: 64%;
	height: 81px;
}

.contact__button {
	position: relative;
	width: 67px;
	height: 67px;
	background: #00D089;
	opacity: 1;
	border-radius: 50%;
	margin: 0 auto 45px;
}

.contact__button:hover {
	position: relative;
	width: 67px;
	height: 67px;
	background: #065a20;
	opacity: 1;
	border-radius: 50%;
	margin: 0 auto 45px;
}

.check-sign {
	position: absolute;
    background: #fff;
}

.check-sign {
	position: absolute;
    background: #fff;
}

.check {
    width: 30px;
    height: 10px;    
	transform: rotate(45deg);
	left: 9px;
    top: 31px;	
}

.part {
    width: 40px;
    height: 10px;    
    transform: rotate(-45deg);
    left: 24px;
    top: 30px;
}

/* Footer
=======================================*/

.footer {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 16px;
	background: #00D089;
}

.footer__text {
	text-transform: uppercase;
	font-size: 14;
	color: #fff;
	font-weight: 300;
}

@media 
	(max-width: 767px) {
		.nav{
			display: flex;
			flex-direction: column;
			width: 40px;
			height: 20px;
			background: #4D98A3;
			border-radius: 10%;
		}
		
		.nav__title {
			display: none;
		}
		
		.nav__button {
			display: none;
		}
		
		.header__title {
			margin-top: 50px;
			font-size: 44px;
			text-transform: uppercase;
			color: #E4E4E4;
			font-weight: 700;
		}

		.contact__form {
			text-align: center;
			background: #fff;
			border-radius: 50%;
			opacity: .8;
			width: 370px;
		}

		.contact__name {
			width: 64%;
			height: 32px;
			margin-top: 60px;
			margin-bottom: 14px;
		}

		.contact__button {
			position: relative;
			width: 67px;
			height: 67px;
			background: #00D089;
			opacity: 1;
			border-radius: 50%;
			margin: 0 auto 25px;
		}

		.slash {
			display: none;
		}
		
 }
